<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${title}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div style="width:100%; min-height:100vh; display: flex; justify-content: center; align-items: center;">
        <div class="text-center">
            <h1 class="mb-3" style="color:#00C1AA">Whoops! An Error Occurred</h1>
            <h2 class="text-alert mb-4">${error}</h2>
            <p class="text-dark">Please fill out the registration form again.</p>
        </div>
    </div>
</body>
</html>
